* {
  box-sizing: border-box;
}

:root {
  --main-color: rgb(1, 36, 186);
  --accent-color: rgb(9, 216, 98);
  --text-color: rgb(53, 53, 53);
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

/* All */
.all {
  width: 100%;
  height: 100vh;
  background-image: url(../image/canvas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */

.header {
  height: 80px;
}

.header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--main-color);
}

.header__nav {
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__menu--item {
}

.header__menu--link {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--text-color);
}

.header__menu--link:hover {
  text-decoration: underline;
}

/* Main */

.main {
  width: 100%;
  height: calc(100vh - 80px);
}

.main .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__sections {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Main - .intro__info section */

.intro__info {
  flex-basis: 55%;
}

.intro__info--subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--accent-color);
}

.intro__info--title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 60px;
}

.intro__info--icons {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.icon__item {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.icon__item:nth-child(3) {
  max-width: 150px;
}

.icon__item::before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 2rem;
  font-weight: 700;
  color: var(--accent-color);
  padding-bottom: 10px;
}

.icon__item:nth-child(1)::before {
  content: "\f0c2";
}

.icon__item:nth-child(2)::before {
  content: "\f3d1";
}

.icon__item:nth-child(3)::before {
  content: "\f2f2";
}

/* Main - .intro__form section */

.intro__form {
  flex-basis: 40%;
  padding: 30px;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
}

.intro__form--title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.intro__form--inputs {
}

.input__name,
.input__email,
.input__amount {
  display: flex;
  flex-direction: column;
}

.name__label,
.email__label,
.amount__label {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.name__input,
.email__input,
.amount__input {
  margin-bottom: 18px;
  border: none;
  border-bottom: 1px solid rgb(182, 182, 182);
  color: gray;
  padding-bottom: 8px;
}

.name__input:focus,
.email__input:focus,
.amount__input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.name__input::placeholder,
.email__input::placeholder,
.amount__input::placeholder {
  color: rgb(182, 182, 182);
}

.intro__button {
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  padding: 20px 30px 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: var(--accent-color);
  margin-top: 22px;
  cursor: pointer;
}

.intro__button:hover {
  text-decoration: underline;
}
